@model IEnumerable<FinalExam.Models.Course>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body>
<div class="row">
    <div class="col-md-6"><h4>Courses</h4></div>
    <div class="col-md-4"></div>
    @*<div class="col-md-2"><a asp-action="AddOrEdit" class="btn btn-outline-success">Add Teacher</a></div>*@
</div>
<hr />
<table id="Example" class="table table-hover">
    <thead>
    <tr>
        <th>
            Name
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
</body>


@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src=" https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Example').DataTable();
        });
    </script>

}

